* text=auto

# Windows-friendly (CRLF) dla plików wsadowych/powershell
*.ps1 eol=crlf
*.cmd eol=crlf
*.bat eol=crlf

# Unix (LF) dla kodu
*.py  eol=lf
*.js  eol=lf
*.jsx eol=lf
*.ts  eol=lf
*.tsx eol=lf
*.sh  eol=lf
